
// Background
$main_bg__color: #E5E5E5;
$footer_bg__color: #2D3034;
$purple_bg__color: #CCC1F6;
$grey_bg__color: #E7EEF3;


// buttons
$button_bg__color: #E36F59;
$button_border__color: #E36F59;
$button_text__color: #FFFFFF;
$button_inverttext__color: #E36F59;

// links
$link_regular__color: #23262D;
$link_hover__color: #E36F59;

// category
$category_bg__color: #E36F59;

// text
$text_main__color: #606268;
$text_black__color: #23262D;
$text_copyright__color: #FFFFFF;


// colors
$purple__color: #BEC5FF;


// cards
$melon_card__color: #FFB6B6;
$purple_card__color: #CCC1F6;
$blue_card__color: #C2E0FF;
$corn_card__color: #FFF7B9;


